html body{
    background-color: rgba(242, 242, 242, 1);
}

.header{
    display: flex;
    margin-top: 2%;
    width: 100%;
    justify-content: space-around;
}

.header-links-div{
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-image{
    margin-left: -4%;
}

.header-links{
    display: flex;
    text-decoration: none;
    color: #000;
    margin-left: 48px;
}

.header-button{
    background-color: #29B24E;
    text-decoration: none;
    color: #FFFFFF;
    padding: 13px 26px;
    border-radius: 12px;
    display: flex;
}

.header-button-div{
    margin-right: -4%;
}

.questions{
    background: #F8F8F8;
    box-shadow: 0px 4px 25px rgba(194, 194, 194, 0.31);
    justify-content: start;
    max-height: 600px;
    width: 22.5%;
    border-radius: 24px;
    margin-left: 7%;
    margin-top: 50px;
    display: inline-block;
}

.location{
    margin-left: 1.5%;
    margin-top: 1.5%;
    font-size: 20px;
    position: absolute;
}

.question-1{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.question-1 select{
    padding: 3% 30%;
    margin-top: 20%;
    border-radius: 10px;
    border-color: rgba(13, 156, 164, 0.21);
}

.question-1 option{
    margin-left: 10px;
}

.property{
    margin-left: 1.5%;
    margin-top: 1.5%;
    font-size: 20px;
    position: absolute;
}

.property-inputs{
    margin-top: 20%;
    margin-left: 6%;
    font-size: 12px;
    accent-color: #29B24E;
}

.property-inputs div{
    margin-top: 2.5px;
}

.property-input-numbers{
    color: rgba(0, 0, 0, 0.5);
}

.big-photo{
    margin-left: 31%;
    margin-top: -35.7%;
    position: absolute;
}

.big-photo img{
    width: 89%;
}

.photos-section{
    margin-top: 90px;

}

.photos-section-title h2{
    font-size: 18px;
    margin-left: 7%;
    display: block;
}

.photos{
    margin-top: 36px;
    display: flex;
    margin-left: 6.5%;
}

.photo-1{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    background: #F8F8F8;
    box-shadow: 0px 4px 18px rgba(194, 194, 194, 0.3);
    border-radius: 24px;
    margin-left: 1%;
    width: 22%;
}

.photo-1 img{
    width: 100%;
    position: relative;
}

.photo-1 h4{
   
    font-size: 12px;
    margin-top: -9.5%;
    margin-left: 10px;
    padding: 5px 12px;
    background-color: #000;
    border-radius: 20px;
    color:#FFFFFF;
}






