html body{
    background-color: rgba(242, 242, 242, 1);
}

.header{
    display: flex;
    margin-top: 2%;
    width: 100%;
    justify-content: space-around;
}

.header-links-div{
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-image{
    margin-left: -4%;
}

.header-links{
    display: flex;
    text-decoration: none;
    color: #000;
    margin-left: 48px;
}

.header-button{
    background-color: #29B24E;
    text-decoration: none;
    color: #FFFFFF;
    padding: 13px 26px;
    border-radius: 12px;
    display: flex;
}

.header-button-div{
    margin-right: -4%;
}

.questions{
    background: #F8F8F8;
    box-shadow: 0px 4px 25px rgba(194, 194, 194, 0.31);
    justify-content: start;
    max-height: 600px;
    width: 22.5%;
    border-radius: 24px;
    margin-left: 7%;
    margin-top: 50px;
    display: inline-block;
}

.location{
    margin-left: 1.5%;
    margin-top: 1.5%;
    font-size: 20px;
    position: absolute;
}

.question-1{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.question-1 select{
    padding: 3% 30%;
    margin-top: 20%;
    border-radius: 10px;
    border-color: rgba(13, 156, 164, 0.21);
}

.question-1 option{
    margin-left: 10px;
}

.property{
    margin-left: 1.5%;
    margin-top: 1.5%;
    font-size: 20px;
    position: absolute;
}

.property-inputs{
    margin-top: 20%;
    margin-left: 6%;
    font-size: 12px;
    accent-color: #29B24E;
}

.property-inputs div{
    margin-top: 2.5px;
}

.property-input-numbers{
    color: rgba(0, 0, 0, 0.5);
}

.big-photo{
    position: relative;
}

.big-photo img{
    width: 60%;
    
}

.first-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-title{
    position: absolute;
    color: rgba(0, 0, 0, 0.8);
    font-size: 45px;
    text-align: center;
    transform: translate(-50%, -50%);

    white-space: nowrap;
}

.photo-title-2{
    position: absolute;
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 1200px;
    top: 19%;
    white-space: nowrap; 
    opacity: 0.8;
}

.search-box{
    position: absolute;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 45%;
    top: 29%;
    white-space: nowrap;
    border: 1px solid;
    padding: 10px;
    width: 230px;
    border-radius: 10px;
}





.photos-section{
    margin-top: 90px;
    

}

.photos-section-title h2{
    font-size: 18px;
    margin-left: 7%;
    display: block;
}

.photos{
    margin-top: 36px;
    display: flex;
    margin-left: 6.5%;
}

.photo-1{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    background: #F8F8F8;
    box-shadow: 0px 4px 18px rgba(194, 194, 194, 0.3);
    border-radius: 24px;
    margin-left: 1%;
    width: 22%;
    padding-bottom: 25px;
}

.photo-1 img{
    width: 100%;
    position: relative;
}

.photo-1 h4{
   
    font-size: 12px;
    margin-top: -9.5%;
    margin-left: 10px;
    padding: 5px 12px;
    background-color: #29B24E;
    border-radius: 20px;
    color:#FFFFFF;
    position: absolute;
}

.photo-1 h3{
    font-size: 16px;
    margin-top: 20px;
}

.photo-1 h5{
    font-size: 14px;
    opacity: 0.5;
}

.prices{
    display: flex;
    justify-content: end;
}

.prices-number{
    color: #29B24E;
    font-size: 24px;
}

.prices-month{
    font-size: 14px;
    display: flex;
    align-items: end;
}

.rooms  {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    font-size: 14px;
}

.footer-links{
    display: flex;
    justify-content: space-evenly;
    margin-top: 120px;
    padding-top: 32px;
}

.footer-links a{
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 48px;
    font-size: 14px;
}

footer{
  height: 179px;
  background-color: #29B24E; 
  border-radius: 25px; 
}

.footer-last-link{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.footer-last-link a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
}

.twitter{
    margin-right: 0px !important;
}
